.header{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    border: 1px solid black;
    background-color: blue;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 28px;
}